.text-preset-1 {
  font-size: var(--text-preset-1-font-size);
  font-weight: var(--text-preset-1-font-weight);
  line-height: var(--text-preset-1-line-height);
  letter-spacing: var(--text-preset-1-letter-spacing);
}

.text-preset-2 {
  font-size: var(--text-preset-2-font-size);
  font-weight: var(--text-preset-2-font-weight);
  line-height: var(--text-preset-2-line-height);
  letter-spacing: var(--text-preset-2-letter-spacing);
}

.text-preset-2-bold {
  font-size: var(--text-preset-2-bold-font-size);
  font-weight: var(--text-preset-2-bold-font-weight);
  line-height: var(--text-preset-2-bold-line-height);
  letter-spacing: var(--text-preset-2-bold-letter-spacing);
}
